/*自定义进度条样式*/
/*整体位置*/
#customed_progress{
	margin-left: 40px;
	margin-top: 20px;
	border-radius: 30px;
}
/*整体大小*/
#customed_progress,#customed_progress .layui-progress-bar{
	width: 500px;
	height: 30px;
}
/*进度条覆盖部分（左边）的颜色*/
#customed_progress .layui-progress-bar{
	background: #ecc4b8;
}
/*进度条未覆盖部分（右边）的颜色*/
#customed_progress{
	background: #F44336;
}